[submodule "technology/hara"]
	path = technology/hara
	url = git@github.com:hara-lang/hara.git
[submodule "technology/hara-archive"]
	path = technology/hara-archive
	url = git@github.com:hara-lang/hara-archive.git
[submodule "extensions"]
	path = extensions
	url = git@github.com:hara-lang/hara-extensions.git
[submodule "website/hara-code"]
	path = website/hara-code
	url = git@github.com:hara-lang/hara-docs.git
[submodule "technology/ignatius"]
	path = technology/ignatius
	url = git@github.com:greenways-ai/ignatius.git
[submodule "technology/historia"]
	path = technology/historia
	url = git@github.com:greenways-ai/historia.git
[submodule "application/greenways-os"]
	path = application/greenways-os
	url = git@github.com:greenways-ai/greenways-os.git
[submodule "infra/greenways-homebrew-tap"]
	path = infra/greenways-homebrew-tap
	url = https://github.com/hara-lang/homebrew-tap.git
[submodule "infra/greenways-homebrew"]
	path = infra/greenways-homebrew
	url = git@github.com:greenways-ai/homebrew-tap.git
[submodule "technology/hestia"]
	path = technology/hestia
	url = https://github.com/greenways-ai/hestia.git
[submodule "technology/hodos"]
	path = technology/hodos
	url = git@github.com:greenways-ai/hodos.git
[submodule "technology/hoplite"]
	path = technology/hoplite
	url = https://github.com/greenways-ai/hoplite.git
[submodule "website/greenways-oss"]
	path = website/greenways-oss
	url = git@github.com:greenways-ai/greenways-ai.github.io.git
[submodule "website/greenways-www"]
	path = website/greenways-www
	url = https://github.com/greenways-ai/www.git
[submodule "website/hara-benchmarks"]
	path = website/hara-benchmarks
	url = git@github.com:hara-lang/hara-benchmarks.git
[submodule "website/hara-visual-language"]
	path = website/hara-visual-language
	url = git@github.com:hara-lang/visual-language.git
[submodule "infra/hara-id-registry"]
	path = infra/hara-id-registry
	url = git@github.com:hara-lang/hara-identity.git
[submodule "infra/hara-packages-registry"]
	path = infra/hara-packages-registry
	url = git@github.com:hara-lang/hara-packages.git
[submodule "website/hara-www"]
	path = website/hara-www
	url = git@github.com:hara-lang/hara-www.git
[submodule "technology/hara-specs-registry"]
	path = technology/hara-specs-registry
	url = git@github.com:hara-lang/hara-specs-registry.git
[submodule "website/hara-specs"]
	path = website/hara-specs
	url = git@github.com:hara-lang/hara-specs.git
