[submodule "technology/hara-specs"]
	path = technology/hara-specs
	url = git@github.com:hara-lang/hara-specs.git
[submodule "website/hara-code"]
	path = website/hara-code
	url = git@github.com:hara-lang/hara-docs.git
